body{
    /*当前一个字体不存在时，使用后面的*/
    font-family: "Microsoft YaHei",sans-serif;
}
a{
    color:#666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
.wjs-header {
    border-bottom: 1px solid #ccc;
}
.wjs-header .row>div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}
.wjs-header .row>div~div {
    border-left: 1px solid #ccc;
}
.wjs-header .row>div:nth-child(1) {
    position: relative;
}
.wjs-header .row>div>.code {
    position: absolute;
    left: 40px;
    top: 40px;
    display: none;
    z-index: 1;
}
.wjs-header .row>div:nth-child(1):hover .code {
    display: block;
    border: 1px solid #ccc;
    border-top: 0;
}
.wjs-header .row>div a {
    color: #666;
    text-decoration: none;
    outline: none;
}
.wjs-header .row>div>.btn-register {
    background-color: #e92322;
    color: white;
    padding: 5px 10px;
}

/*声明字体图标*/
@font-face {
    font-family: 'wjs-iconfont';
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff');
}
.wjs-icon {
    font-family: wjs-iconfont;
}
.wjs-icon-phone::before {
    content: '\e908';
}
.wjs-icon-tel::before {
    content: '\e909';
}
.wjs-icon-logo::before {
    content: '\e920';
}
.wjs-icon-word::before {
    content: '\e93e';
}

.wjs-icon-E906::before{
    content: "\e906";
}
.wjs-icon-E905::before{
    content: "\e905";
}
.wjs-icon-E907::before{
    content: "\e907";
}
.wjs-icon-E901::before{
    content: "\e901";
}
.wjs-icon-E900::before{
    content: "\e900";
}
.wjs-icon-E904::before{
    content: "\e904";
}
.wjs-icon-E902::before{
    content: "\e902";
}
.wjs-icon-E906::before{
    content: "\e906";
}
.wjs-icon-new01::before{
    content: "\e90e";
}
.wjs-icon-new02::before{
    content: "\e90f";
}
.wjs-icon-new03::before{
    content: "\e910";
}
.wjs-icon-new04::before{
    content: "\e911";
}


.wjs-icon-partner01::before{
    content:"\e946";
}
.wjs-icon-partner02::before{
    content: "\e92f";
}
.wjs-icon-partner03::before{
    content: "\e92e";
}
.wjs-icon-partner04::before{
    content: "\e92a";
}
.wjs-icon-partner05::before{
    content: "\e929";
}
.wjs-icon-partner06::before{
    content: "\e931";
}
.wjs-icon-partner07::before{
    content: "\e92c";
}
.wjs-icon-partner08::before{
    content: "\e92b";
}
.wjs-icon-partner09::before{
    content: "\e92d";
}

/*导航*/
.wjs-navbar {
    background-color: #fff;
    border-color: #e7e7e7;
    margin-bottom: 0;
    border-top: 0;
}
.wjs-navbar .navbar-brand {
    color:#777;
    height: 80px;
    line-height:50px;
}
.wjs-navbar .navbar-brand .wjs-icon-logo {
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}
.wjs-navbar .navbar-brand .wjs-icon-word {
    color: #000;
    font-size: 30px;
    vertical-align: middle;
}
.wjs-navbar .navbar-nav>li>a {
    color: #777;
    height: 80px;
    display: block;
    line-height: 50px;
    border-bottom: 3px solid transparent;
}
.wjs-navbar .navbar-nav>li>a:hover,
.wjs-navbar .navbar-nav>li>a:focus{
    background-color: transparent;
    color: #333;
    border-bottom: 3px solid #e92322;
}
.wjs-navbar .navbar-nav>.active>a,
.wjs-navbar .navbar-nav>.active>a:hover,
.wjs-navbar .navbar-nav>.active>a:focus {
    border-bottom: 3px solid #e92322;
    color: #555;
}
.wjs-navbar .navbar-nav>.disabled>a,
.wjs-navbar .navbar-nav>.disabled>a:hover,
.wjs-navbar .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs-navbar .navbar-toggle {
    border-color: #ddd;
    margin-top: 20px;
}
.wjs-navbar .navbar-toggle:hover,
.wjs-navbar .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs-navbar .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs-nacbar .navbar-collapse,
.wjs-navbar .navbar-form {
    border-color: #e7e7e7;
}
.wjs-navbar .navbar-nav>.open>a,
.wjs-navbar .navbar-nav>.open>a:hover,
.wjs-navbar .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.wjs-navbar .btn-link[aria-disabled]:hover,
fieldset[disabled].wjs-navbar .btn-link:hover,
.wjs-navbar .btn-link[disabled]:focus,
fieldset[disabled].wjs-navbar .btn-link:focus {
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .wjs-navbar .navbar-nav >li >a {
        height: 50px;
        line-height: 20px;
    }
    .wjs-navbar .navbar-brand {
        color: #777;
        height: 50px;
        line-height: 20px;
    }
}

/*轮播图*/
.wjs-banner .carousel .carousel-inner .pc-img {
    width: 100%;
    height: 410px;
    background: no-repeat center;
}
.wjs-banner .carousel .carousel-inner .m-img {
    width: 100%;
}

/*信息模块*/
.wjs-info {
    padding: 50px;
}
.wjs-info .container .row>div>a {
    display: block;
    padding: 10px;
}
.wjs-info .container .row>div>a:hover {
    color: #e92322;
}
.wjs-info .container .row .media-left span {
    font-size: 24px;
}
.wjs-info .container .row .media-body p {
    font-size: 14px;
}

/*媒体查询*/
@media screen and (min-width: 992px) {
    .wjs-info .container {
        width: 910px;
    }
    .wjs-book .container {
        width: 910px;
    }
}

/*预约模块*/
.wjs-book {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 25px 0;
}
.wjs-book .container div span[class^='wjs-icon'] {
    font-size: 24px;
}
.wjs-book .container .pull-left .book-link {
    color: #e92322;
    border-bottom:1px dashed #e92322;
}
.wjs-book .container .pull-right>a:hover {
    color: #e92322;
}

/*产品模块*/
.wjs-product {
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 40px 0;
}
/*tab栏切换*/
.wjs-product .product-nav {
    overflow-x: auto;
}
.wjs-nav-tabs {
    border-bottom: 1px solid #ddd;
}
.wjs-nav-tabs>li {
    float: left;
}
.wjs-nav-tabs>li>a {
    border-bottom: 3px solid transparent;
    margin-left: 2px;
}
.wjs-nav-tabs>li>a:hover,
.wjs-nav-tabs>li>a:focus {
    border-bottom: 3px solid #e92322;
    background-color: transparent;
    color: #666;
}
.wjs-nav-tabs>li.active>a,
.wjs-nav-tabs>li.active>a:hover,
.wjs-nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}

/*tab内容模块*/
.wjs-product .row>div {
    height: 170px;
}
.wjs-product .tab-content .row>div>.product-in {
    background-color: #fff;
    height: 150px;
    margin-top: 20px;
    box-shadow: 0 0 5px #ccc;
}
.wjs-product .tab-content .row>div>.product-in .product-left {
    height: 150px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
}
.wjs-product .tab-content .row>div>.product-in .product-left::before {
    content: "\e915";
    font-family: wjs-iconfont;
    color: white;
    font-size: 33px;
    position: absolute;
    top: -6px;
    left: 0px;
}
.wjs-product .tab-content .row>div>.product-in .product-left h3 {
    font-size: 18px;
    text-align: center;
}
.wjs-product .tab-content .row>div>.product-in .product-left>div {
    width: 50%;
}
.wjs-product .tab-content .row>div>.product-in .product-left>div>.progress{
    height:12px;
    margin-top:5px;
}
.wjs-product .tab-content .row>div>.product-in .product-left>div>p {
    margin-bottom: 0;
    line-height: 24px;
}
.wjs-product .tab-content  .row>div>.product-in .product-right {
    width: 108px;
    height: 150px;
    border-left: 1px dashed #ccc;
    position: relative;
}
.wjs-product .product-in .product-right::before,
.wjs-product .product-in .product-right::after {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
    background-color: #f5f5f5;
}
.wjs-product .product-in .product-right::before {
    left: -6px;
    top: -6px;
    box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.wjs-product .product-in .product-right::after {
    left: -6px;
    bottom: -6px;
    box-shadow: 0 2px 2px #d8d8d8 inset;
}
.wjs-product .tab-content  .row>div>.product-in .product-right>p:first-child {
    color: red;
    margin-top: 25px;
}
.wjs-product .tab-content  .row>div>.product-in .product-right>p:first-child span {
    font-size: 45px;
    font-weight: 700;
}
.wjs-product .tab-content  .row>div>.product-in .product-right .tip {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
}
.wjs-product .tab-content  .row>div>.product-in .product-right .tip span {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: red;
    border: 1px solid red;
}

.wjs-product .tab-content  .row>div>.product-in.active {
    background-color: red;
}
.wjs-product .tab-content  .row>div>.product-in.active .product-left {
    color: white;
}
.wjs-product .tab-content  .row>div>.product-in.active .product-right p {
    color: white;
}


/*新闻模块*/
.wjs-news {
    padding: 30px 0;
}
.wjs-news .news-title h3 {
    font-size: 20px;
    text-align: center;
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.wjs-news .news-title h3::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    bottom: -3px;
}
.news-nav-tabs {
    position: relative;
}
.news-nav-tabs .line {
    border-left: 1px dashed #ccc;
    position: absolute;
    height: 100%;
    left: 30px;
}
.news-nav-tabs > li {
    float: left;
    margin-bottom: 60px;
}
.news-nav-tabs > li:last-child {
    margin-bottom: 0;
}
.news-nav-tabs > li > a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    line-height: 40px;
    font-size: 24px;
}
.news-nav-tabs > li > a:hover {
    background-color: #e92322;
}
.news-nav-tabs > li.active > a,
.news-nav-tabs > li.active > a:hover,
.news-nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #e92322;
}
.news-nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.news-nav-tabs.nav-justified > li {
    float: none;
}
.news-nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.news-nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .news-nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .news-nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.news-nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.news-nav-tabs.nav-justified > .active > a,
.news-nav-tabs.nav-justified > .active > a:hover,
.news-nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .news-nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .news-nav-tabs.nav-justified > .active > a,
    .news-nav-tabs.nav-justified > .active > a:hover,
    .news-nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .news-nav-tabs>li {
        width: 140px;
        margin-bottom: 10px;
    }
    .news-nav-tabs>li>a {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .news-nav-tabs>li {
        width: 25%;
        margin-bottom: 10px;
    }
}
.wjs-news .tab-content #news1>ul>li {
    list-style: none;
    line-height: 50px;
}
.wjs-news .tab-content #news1>ul>li>a {
    color: #333;
}

/*合作伙伴*/
.wjs-partner {
    padding: 30px;
    background-color: #f5f5f5;
}
.wjs-partner ul {
    text-align: center;
}
.wjs-partner ul>li {
    list-style: none;
    display: inline-block;
    font-size: 50px;
    margin: 0 15px;
}